body{
    background-color: white;
}
label{
    color:red;
    font-size:40px;
}
.profile{
    text-align:center;
}
button{
    color:blue;
    font-size:24px;
}
footer{
    color:blue;
    font-size:50px;
}
header{
    color:brown;
    font-size:50px;

}
input{
    color:aquamarine;
    width:250px;
    height:50px;
    font-size:35px;
}
.box{
    width:600px;
    padding:20px;
    font-size:50px;
    margin:30px auto;
    border:20PX SOLID RED;
    color:red;
}
select{
    color:green;
    font-size:35px;
}
value{
    color:red;
    font-size:30px;
}